{% load static %}
{% load i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="William Oliveira de Lagos">
    <meta name="description" content="Landing Page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
    <style> h1,h2,h3 { font-family: 'Roboto Slab',serif } </style>
    {% block headers %}{% endblock %}
  </head>
  <body>
    <!-- Main block for pages container !-->
    {% block main %}{% endblock %}
    <footer class="footer">{% block footer %}{% endblock %}</footer>
    <!-- Block for JavaScript footer scripts, like Google Analytics -->
    {% block scripts %}{% endblock %}
  </body>
</html>
