{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %} Frete Fácil {% endblock %}

{% block headers %}
<style>
html { height:100%; }
body {
  min-height:100%;
  background:#002F51;
  color:white;
  text-align:center;
  display:flex;
  align-items:center;
}
</style>
{% endblock %}

{% block main %}
<div class="container">
<div class="row">
<div class="twelve columns">
<h1>Obrigado!</h1>
<p>Iremos lhe contatar em breve para começar a utilizar o aplicativo Frete Fácil.</p>
</div>
</div>
</div>
{% endblock %}
